In [9]:
import pandas as pd
USDATA = pd.read_excel('../data/workbook-data-v2.xlsx', sheet_name="Chapter 3 - US Data")
USDATA.head()

,State,Number of Farms 1930,Number of Farms 1970,Number of Farms 2010,Percent Urban 1930,Percent Urban 1970,Percent Urban 2010,Total Population 1930,Total Population 1960,Total Population 2010,Zone,Rank
0,Arizona,11,7,16,0.344,0.796,0.8981,435573,1772482,6412700,WEST,16
1,California,136,99,82,0.733,0.909,0.9090,5677251,19971069,37341989,WEST,82
2,Colorado,58,33,36,0.502,0.785,0.8615,1035791,2207259,5044930,WEST,36
3,Idaho,40,34,26,0.291,0.541,0.7058,445032,713008,1573499,WEST,26
4,Montana,47,29,29,0.337,0.534,0.5589,537606,694409,994416,WEST,29

In [7]:
USDATA["Number of Farms 1930"].mean()

132.1875

In [8]:
USDATA["Number of Farms 1930"].skew()

0.6879610255755118